@model School_Support.Models.ManageUserViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.default.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">

                            <center>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert in nomargin">
                                            <h2><b>CHANGE PASSWORD</b></h2>
                                            <p>Fill out the following fields appropriately and click on Save to change your password</p>
                                        </div>
                                    </div>
                                </div>

                                <br />
                            </center>

                            @using (Html.BeginForm("ChangePassword", "Account", new { Area = "Security" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="col-md-12">
                                    <h4>Change Password</h4>
                                    <hr />
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(model => model.Username)
                                    @if (TempData["Message"] != null)
                                    {
                                        @Html.Partial("_Message", (SchoolSupport.Model.Model.Message)TempData["Message"]);
                                    }

                                    <div class="row">
                                        <div class="form-group">
                                            <p class="control-label col-md-2">Current Password</p>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OldPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.OldPassword)
                                            </div>
                                        </div>
                                    </div><br />

                                    <div class="row">
                                        <div class="form-group">
                                            <p class="control-label col-md-2">New Password</p>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.NewPassword)
                                            </div>
                                        </div>
                                    </div><br />

                                    <div class="row">
                                        <div class="form-group">
                                            <p class="control-label col-md-2">Confirm New Password</p>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                            </div>
                                        </div>
                                    </div><br />

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>

                                    <div>
                                        @Html.ActionLink("Back to Home", "Home")
                                    </div>
                                </div>
                            }

                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


