@model School_Support.Areas.Admin.ViewModels.SupportViewModel

@{
    ViewBag.Title = "ViewStudentDetails";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@if (TempData["Msg"] != null)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Msg"].ToString()
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:x-large">View Student Details</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ViewStudentDetails", "Support", new { area = "Admin" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Student.MatricNumber, "Matric Number:", new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", @placeholder = "Enter Matric Number", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Student.MatricNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Get Details" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-size: large">Student Details</div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">



                <div>
                    <dl class="dl-horizontal">
                        <dt>Matric Number: </dt>
                        <dd>@Model.Student.MatricNumber.ToUpper()</dd>

                        <dt>Name: </dt>
                        <dd>@Model.Student.FullName.ToUpper()</dd>
                        
                        @if (Model.Student.Sex != null)
                        {
                            <dt>Sex: </dt>
                            <dd>@Model.Student.Sex.Name</dd>
                        }

                        <dt>Mobile Phone: </dt>
                        <dd>@Model.Student.MobilePhone</dd>

                        <dt>Email Address: </dt>
                        <dd>@Model.Student.Email</dd>
                        @if (Model.Student.SchoolContactAddress != null)
                        {
                            <dt>School Contact Address: </dt>
                            <dd>@Model.Student.SchoolContactAddress.ToUpper()</dd>
                        }

                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="font-size: large">Student Level Details</div>
                </div>
                <div class="panel-body">

                    <table class="col-md-12 table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Programme</th>
                                <th>Department</th>
                                <th>Department Option</th>
                                <th>Level</th>
                                <th>Session</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.StudentLevelList.Count; i++)
                        {
                            <tbody>
                                <tr>
                                    <td>@Model.StudentLevelList[i].Programme.Name</td>
                                    <td>@Model.StudentLevelList[i].Department.Name</td>
                                    @if (Model.StudentLevelList[i].DepartmentOption != null)
                                    {
                                        <td>@Model.StudentLevelList[i].DepartmentOption.Name</td>
                                    }
                                    else
                                    {
                                        <td>No Option</td>
                                    }

                                    <td>@Model.StudentLevelList[i].Level.Name</td>
                                    <td>@Model.StudentLevelList[i].Session.Name</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>
}
